/* Made the whole Body a css grid */
body {
  margin: 0;
  display: grid;
  grid-template-areas:
          'header header header ratings ratings ratings'
          'social social social social social social'
          'footer footer footer footer footer footer';
  grid-gap: 10px;
}

/*-----------------------------------------------------------------*/

/* ---------------Header Section-------------------- */
.header {
  grid-area: header;
  margin: 20% auto 5% 25%;
  padding: 5%;
  background-color: pink;
}

h1 {
  font-size: 3rem;
  margin: 1rem 4.5rem 1rem 0;
  line-height: 1;
}

.subheading {
  font-size: 1.5rem;
  margin: 1rem auto;
  line-height: 1;
}

/*-----------------------------------------------------------------*/

/*---------------- Ratings Section----------------- */
.ratings {
  display: grid;
  align-items: center;
  grid-template-rows: auto auto auto;
  grid-area: ratings;
  margin: 20% 25% 5% auto;
  font-weight: bold;
  background-color: lightgreen;
}

.rating1 {
  display: inline-block;
  background-color: lightgrey;
  padding: 0.5rem;
  min-width: 19.2rem;
  align-self: flex-end;
  border-radius: 10px;
  margin: 0 12rem 0 auto;
}

.rating2 {
  background-color: lightgrey;
  padding: 0.5rem;
  min-width: 19.2rem;
  border-radius: 10px;
  margin: 0 6rem 0 auto;
}

.rating3 {
  background-color: lightgrey;
  padding: 0.5rem;
  min-width: 19.2rem;
  align-self: flex-start;
  border-radius: 10px;
  margin: 0 0 0 auto;
}

h4 {
  border: none;
}

/*-------------------------------------------------------------------*/

/* -----------------Social Section---------------------- */
.social {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  margin: 5% 10%;
  justify-content: space-between;
  grid-area: social;
  background-color: grey;
}

.user {
  display: inline-block;
  border-radius: 15px;
  padding: 10%;
  background-color: skyblue;
}

.Colton {
  text-align: left;
}

.Roberts {
  align-self: center;
}

.Anne {
  align-self: right;
}

/*--------------------------------------------------------------------*/

/* --------------------Footer section---------------------- */
.footer {
  grid-area: footer;
}

.attribution {
  font-size: 0.67em;
  text-align: center;
  background-color: magenta;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
