/* Made the whole Body a css grid */
body {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
          'header header header ratings ratings ratings'
          'social social social social social social'
          'footer footer footer footer footer footer';
  grid-gap: 10px;
}

/*-----------------------------------------------------------------*/

/* ---------------Header Section-------------------- */
.header {
  grid-area: header;
  margin: 10vw 5% 10vh 15vw;
  padding: 5% 5% 10vh;
  min-width: 400px;
  background-color: pink;
}

h1 {
  font-size: 3rem;
  margin: 1rem 4.5rem 1rem 0;
  line-height: 1;
}

.subheading {
  font-size: 1.5rem;
  margin: 1rem auto;
  line-height: 1;
}

/*-----------------------------------------------------------------*/

/*---------------- Ratings Section----------------- */
.ratings {
  display: grid;
  align-items: center;
  grid-template-rows: auto auto auto;
  grid-area: ratings;
  margin: 10vw 15vw 10vh 5%;
  font-weight: bold;
  background-color: lightgreen;
}

.rating1 {
  display: inline-block;
  background-color: lightgrey;
  padding: 0.5rem;
  min-width: 296px;
  align-self: flex-end;
  border-radius: 10px;
  margin: 0 2rem 0 2rem;
  width: max-content;
}

.rating2 {
  background-color: lightgrey;
  padding: 0.5rem;
  min-width: 296px;
  border-radius: 10px;
  margin: 0 2rem 0 6rem;
  width: max-content;
}

.rating3 {
  background-color: lightgrey;
  padding: 0.5rem;
  min-width: 296px;
  align-self: flex-start;
  border-radius: 10px;
  margin: 0 2rem 0 10rem;
  width: max-content;
}

h4 {
  border: none;
}

/*-------------------------------------------------------------------*/

/* -----------------Social Section---------------------- */
.social {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  margin: 10vh 15vw;
  justify-content: space-between;
  align-items: self-start;
  grid-area: social;
  background-color: grey;
}

.user {
  display: inline-block;
  border-radius: 15px;
  padding: 10%;
  width:70%;
  background-color: skyblue;
}

img {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 20px;
}

.Colton {
  text-align: left;
  margin: 2%;
}

.Roberts {
  text-align: left;
  margin: 15% 4%;
}

.Anne {
  text-align: left;
  margin: 28% 4%;
}

.social-name {
  font-weight: bold;
}

.social-tag {
  color: pink;
}

.social-comment {
  color: green;
}
/*--------------------------------------------------------------------*/

/* --------------------Footer section---------------------- */
.footer {
  grid-area: footer;
}

.attribution {
  font-size: 0.67em;
  text-align: center;
  padding: 0.4rem;
  background-color: magenta;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
