/* Made the whole Body a css grid */
body {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
          'header'
          'header'
          'header'
          'ratings'
          'ratings'
          'ratings'
          'social'
          'social'
          'social'
          'footer';
  font-family: 'Spartan', sans-serif;
}

/*-----------------------------------------------------------------*/

/* ---------------Header Section-------------------- */
.header {
  display: inline-block;
  grid-area: header;
  margin: 6.5vw 7.5vw 1vh;
  padding: 5% 5% 0;
  min-width: 20vw;
  text-align: center;
  color: hsl(300, 43%, 22%);
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin: 1rem 5vw 2rem;
}

.subheading {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 2rem 2rem 1rem;
  line-height: 1.2;
}

/*-----------------------------------------------------------------*/

/*---------------- Ratings Section----------------- */
.ratings {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-row-gap: 0;
  grid-template-rows: auto auto auto;
  font-size: 1rem;
  font-weight: 400;
  grid-area: ratings;
  margin: 1vh 10vw 2vh;
  text-align: center;
  font-weight: bold;
  color: hsl(300, 43%, 22%);
}

.rating1 {
  display: inline-block;
  background-color: hsl(300, 24%, 92%);
  padding: 1rem 2rem;
  line-height: 2;
  align-self: center;
  border-radius: 10px;
  margin: 2vh auto;
  width: 60vw;
}

.rating2 {
  background-color: hsl(300, 24%, 92%);
  padding: 1rem 2rem;
  line-height: 2;
  border-radius: 10px;
  margin: 2vh auto;
  width: 60vw;
}

.rating3 {
  background-color: hsl(300, 24%, 92%);
  padding: 1rem 2rem;
  line-height: 2;
  align-self: center;
  border-radius: 10px;
  margin: 2vh auto;
  width: 60vw;
}

h4 {
  border: none;
}

.ratingText {
  display: inline-block;
  min-width: 100px;
  line-height: 1;
}

/*-------------------------------------------------------------------*/

/* -----------------Social Section---------------------- */
.social {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 2vh;
  margin: 2vh 10vw;
  justify-content: center;
  align-items: center;
  grid-area: social;
}

.user {
  display: inline-block;
  border-radius: 15px;
  padding: 10% 10%;
  width: 60vw;
  background-color: hsl(300, 43%, 22%);
}

img {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 20px;
}

.Colton {
  text-align: left;
  margin: 0;
}

.Roberts {
  text-align: left;
  margin: 0;
}

.Anne {
  text-align: left;
  margin: 0;
}

.social-name {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}

.social-tag {
  font-weight: 100;
  color: hsl(333, 80%, 67%);
}

.social-comment {
  color: hsl(300, 24%, 94%);
  display: inline-block;
  margin: auto;
}
/*--------------------------------------------------------------------*/

/* --------------------Footer section---------------------- */
.footer {
  grid-area: footer;
  font-weight: 200;
}

.attribution {
  font-size: 0.72em;
  line-height: 1.25;
  text-align: center;
  padding: 0.75rem;
  color: hsl(0, 0%, 70%);
  background-color:  hsl(300, 43%, 22%);
}

a {
  color: hsl(0, 0%, 80%);
  text-decoration: none;
}
.attribution a:hover {
  color: hsl(0, 0%, 100%);
}
